{% extends '@PrezentCrud/layout.html.twig' %}

{% block crud_content %}
    {% block crud_header %}
        <h2>{{ ('crud.' ~ config.name ~ '.' ~ config.action ~ '.title')|trans({}, config.translationDomain) }}</h2>
    {% endblock %}

    {% block crud_body %}{% endblock %}
    {% block crud_footer %}{% endblock %}
{% endblock %}
