{% extends base_template %}

{% block crud_body %}
    {% include '@PrezentCrud/common/flashes.html.twig' %}

    {% block crud_grid %}

        {% if config.gridTheme %}
            {% grid_theme grid config.gridTheme %}
        {% endif %}

        {{ grid(grid, pager, {'attr': {'class': 'crud-grid'}}) }}
        {{ pagerfanta(pager) }}
    {% endblock %}

    {% block crud_actions %}
        <a class="button" href="{{ path(config.routePrefix ~ 'add', config.routeParameters) }}">{{ ('crud.' ~ config.name ~ '.index.action.add')|trans({}, config.translationDomain) }}</a>
    {% endblock %}

    {% block crud_modals %}
        {% include '@PrezentCrud/common/modal.html.twig' with {'action': 'delete'} %}
    {% endblock %}
{% endblock %}
